workflows/n8n/generated/01-content-request-intake-draft.json
{
  "name": "FF Admin - Content Request Intake - Draft",
  "active": false,
  "nodes": [
    {
      "id": "content-webhook",
      "name": "Platform Content Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "path": "future-foresight/content-generation",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "notes": "Webhook is intentionally draft/inactive. Protect with signature validation before activation."
    },
    {
      "id": "validate",
      "name": "Validate Draft Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nreturn [{\n  json: {\n    accepted: true,\n    workflow_type: \"content_generation\",\n    active: false,\n    draft: true,\n    external_calls_made: false,\n    next_setup: \"Add credentials, signature validation, real processing nodes, and signed platform callback before activation.\",\n    received_job_id: body.job_id ?? null,\n    received_correlation_id: body.correlation_id ?? null\n  }\n}];"
      },
      "notes": "Draft code placeholder. No credentials or external calls."
    },
    {
      "id": "respond",
      "name": "Respond To Platform",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        520,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "notes": "Returns a safe acknowledgement or dry-run result."
    }
  ],
  "connections": {
    "Platform Content Request Webhook": {
      "main": [
        [
          {
            "node": "Validate Draft Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Draft Request": {
      "main": [
        [
          {
            "node": "Respond To Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    "future-foresight",
    "draft",
    "marketing",
    "webhook"
  ]
}
