workflows/n8n/generated/02-publication-dry-run-draft.json
{
  "name": "FF Admin - Publication Dry Run - Draft",
  "active": false,
  "nodes": [
    {
      "id": "publish-webhook",
      "name": "Platform Publish Dry Run Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "path": "future-foresight/publish-dry-run",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "notes": "Webhook is intentionally draft/inactive. Protect with signature validation before activation."
    },
    {
      "id": "summary",
      "name": "Dry Run Summary Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nreturn [{\n  json: {\n    dry_run: true,\n    meta_called: false,\n    duplicate_check_required: true,\n    platforms_requested: body.platforms ?? [],\n    content_item_id: body.content_item_id ?? null,\n    status: \"validated_dry_run\"\n  }\n}];"
      },
      "notes": "Safe dry-run path. It must not call Meta endpoints."
    },
    {
      "id": "respond",
      "name": "Respond To Platform",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        520,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "notes": "Returns a safe acknowledgement or dry-run result."
    }
  ],
  "connections": {
    "Platform Publish Dry Run Webhook": {
      "main": [
        [
          {
            "node": "Dry Run Summary Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dry Run Summary Only": {
      "main": [
        [
          {
            "node": "Respond To Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    "future-foresight",
    "draft",
    "publishing",
    "dry-run"
  ]
}
