workflows/n8n/generated/04-lead-intake-callback-draft.json
{
  "name": "FF Admin - Lead Intake Callback - Draft",
  "active": false,
  "nodes": [
    {
      "id": "lead-webhook",
      "name": "Lead Intake Platform Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "path": "future-foresight/lead-intake",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "notes": "Webhook is intentionally draft/inactive. Protect with signature validation before activation."
    },
    {
      "id": "normalize",
      "name": "Normalize Lead Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nreturn [{\n  json: {\n    accepted: true,\n    workflow_type: \"lead_intake\",\n    active: false,\n    draft: true,\n    external_calls_made: false,\n    next_setup: \"Add credentials, signature validation, real processing nodes, and signed platform callback before activation.\",\n    received_job_id: body.job_id ?? null,\n    received_correlation_id: body.correlation_id ?? null\n  }\n}];"
      },
      "notes": "Draft code placeholder. No credentials or external calls."
    },
    {
      "id": "respond",
      "name": "Respond To Platform",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        520,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "notes": "Returns a safe acknowledgement or dry-run result."
    }
  ],
  "connections": {
    "Lead Intake Platform Webhook": {
      "main": [
        [
          {
            "node": "Normalize Lead Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead Draft": {
      "main": [
        [
          {
            "node": "Respond To Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    "future-foresight",
    "draft",
    "lead-ops",
    "webhook"
  ]
}
