workflows/n8n/generated/05-lead-normalization-routing-draft.json
{
  "name": "FF Admin - Lead Normalization And Routing - Draft",
  "active": false,
  "nodes": [
    {
      "id": "route-webhook",
      "name": "Lead Routing Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "path": "future-foresight/lead-routing",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "notes": "Webhook is intentionally draft/inactive. Protect with signature validation before activation."
    },
    {
      "id": "route",
      "name": "Classify Buyer Supplier Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nconst text = JSON.stringify(body).toLowerCase();\nconst inferred = text.includes(\"supplier\") ? \"supplier\" : \"buyer_or_unknown\";\nreturn [{ json: { draft: true, inferred_route: inferred, owner_assignment_required: true, external_calls_made: false } }];"
      },
      "notes": "Draft code placeholder. No credentials or external calls."
    },
    {
      "id": "respond",
      "name": "Respond To Platform",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        520,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "notes": "Returns a safe acknowledgement or dry-run result."
    }
  ],
  "connections": {
    "Lead Routing Webhook": {
      "main": [
        [
          {
            "node": "Classify Buyer Supplier Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Buyer Supplier Draft": {
      "main": [
        [
          {
            "node": "Respond To Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    "future-foresight",
    "draft",
    "lead-ops"
  ]
}
