workflows/n8n/generated/10-magnific-generation-draft.json
{
  "name": "FF Admin - Magnific Generation - Draft",
  "active": false,
  "nodes": [
    {
      "id": "magnific-webhook",
      "name": "Magnific Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "path": "future-foresight/magnific-generation",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "notes": "Webhook is intentionally draft/inactive. Protect with signature validation before activation."
    },
    {
      "id": "guard",
      "name": "Magnific Guard Placeholder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "parameters": {
        "jsCode": "return [{ json: { draft: true, magnific_called: false, requires_credit_limit: true, requires_human_review: true } }];"
      },
      "notes": "Draft code placeholder. No credentials or external calls."
    },
    {
      "id": "respond",
      "name": "Respond To Platform",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        520,
        0
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "notes": "Returns a safe acknowledgement or dry-run result."
    },
    {
      "id": "magnific-placeholder",
      "name": "Future Magnific API Node - Disabled",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        260,
        140
      ],
      "disabled": true,
      "parameters": {
        "method": "POST",
        "url": "PLACEHOLDER_DO_NOT_ACTIVATE",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "{}",
        "options": {}
      },
      "notes": "Disabled placeholder. Add Magnific credential in n8n only after owner approval."
    }
  ],
  "connections": {
    "Magnific Request Webhook": {
      "main": [
        [
          {
            "node": "Magnific Guard Placeholder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Magnific Guard Placeholder": {
      "main": [
        [
          {
            "node": "Respond To Platform",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all"
  },
  "tags": [
    "future-foresight",
    "draft",
    "marketing",
    "magnific"
  ]
}
